body {
    background-image: url("1.jpg"); /* Путь к вашему фоновому изображению */
    background-position: center; /* Центрировать изображение */
  background-repeat: no-repeat; /* Не повторять изображение */
  background-size: contain; /* Растянуть изображение, сохраняя пропорции */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
  
  #profileButton {
    padding: 10px 20px;
    background-color: #4CAF50; /* Цвет кнопки */
    color: white;
    border: none;
    cursor: pointer;
  }